/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #121212 0%, #000000 100%);
    background-attachment: fixed;
    font-family: 'Big Shoulders', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: #fff;
}
