<div class="form-wrapper">
    <h1>Log in</h1>
    <form [formGroup]="userInfo" (submit)="onSubmit()">
        <fieldset>
            <input id="username" formControlName="username" type="text" placeholder="Username" />
            @if (userInfo.get('username')?.invalid && userInfo.get('username')?.touched) {
            @if(userInfo.get('username')?.errors?.['required']) {
            <small>Username is required.</small>
            }
            @if(userInfo.get('username')?.errors?.['minlength']) {
            <small>Username must be at least 3 characters.</small>
            }
            }
        </fieldset>
        <fieldset>
            <input id="password" formControlName="password" type="password" placeholder="Password" />
            @if(userInfo.get('password')?.invalid && userInfo.get('password')?.touched) {
            @if(userInfo.get('password')?.errors?.['required']) {
            <small>Password is required.</small>
            }
            @if(userInfo.get('password')?.errors?.['minlength']) {
            <small>Password must be at least 6 characters.</small>
            }
            }
        </fieldset>

        @if (loginError) {
        <div class="error-message">
            {{ loginError }}
        </div>
        }

        <fieldset>
            <button type="submit" [disabled]="userInfo.invalid">Log In</button>
        </fieldset>

        <div class="signup-link">
            Don't have an account? <a routerLink="/signup">Sign up</a>
        </div>
    </form>
</div>