@import '../../styles/auth-form.scss';

/* Component specific styles can go here if needed */

.form-wrapper {
  form {
    fieldset {
      position: relative;
      small {
        left: 50%;
        transform: translateX(-50%);
        margin-top: 5px;
        font-size: 12px;
        width: 100%;
        text-align: center;
      }
    }
  }
}

.error-message {
  color: #dc3545;
  margin: 10px 0;
  text-align: center;
}
